.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99 !important;
}

.modal-content {
  width: 500px;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.modal-title {
  margin: 0px;
  padding: 5px;
}
.modal-footer {
  padding: 10px;
}
.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
